<font color="firebrick" size="6"><b> 키워드 별 평균 매출 </b></font>

<font color="Maroon" size="5"><b>평균 가격 선별</b></font>

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import requests
from bs4 import BeautifulSoup
import requests
import time
import os
import warnings
warnings.filterwarnings("ignore")

In [3]:
os.chdir("../../../smartstore") # signaturehelper module 호출하기 위해 경로 설정
os.getcwd()

'C:\\Users\\chosun\\Desktop\\smartstore'

In [4]:
data = pd.read_csv("conditionedData/data/3_avg_price/3_avg_price_requests.csv")
data

,relative_keyword,total_search,total_store_count,competitive_rate,avg_price
0,앱코키보드,14530.0,40613.0,2.80,73669.0
1,키즈경량패딩,28730.0,76995.0,2.68,76983.0
2,후쿠오카버스투어,22720.0,546.0,0.02,58505.0
3,식전영상,27600.0,432.0,0.02,33231.0
4,면세점가방,3270.0,3436.0,1.05,106.0
...,...,...,...,...,...
27671,EMIS가방,12380.0,7205.0,0.58,43951.0
27672,나이키에코백,6410.0,1839.0,0.29,11203.0
27673,아페쎄에코백,9960.0,12389.0,1.24,86765.0
27674,이미스호보백,11450.0,1839.0,0.16,43885.0
27675,명품에코백,5400.0,48183.0,8.92,40870.0

In [ ]:
# pd.options.display.max_rows = None  
# data.sort_values("avg_price")

In [ ]:
"""배송비도 이하 또는 $ 표기 제외 + 10만원 이하 가격 선별 """
pd.options.display.max_rows = None  
data_tmp = data[(data["avg_price"]>6000) & (data["avg_price"]<100000 )]
data_tmp.index = np.arange(len(data_tmp["relative_keyword"]))
data_tmp

In [ ]:
# 평균 가격으로 선별한 프레임을 data에 할당
pd.options.display.max_rows = 100
data = data_tmp

<font color="Maroon" size="5"><b>키워드 별 평균 매출 </b></font>

In [ ]:
import json

cookies = {
    'NNB': '6TTK2RJU3JPWG',
    'autocomplete': 'use',
    'AD_SHP_BID': '23',
    '_ga': 'GA1.2.1198469368.1669035888',
    'NV_WETR_LOCATION_RGN_M': '"MDUxMTAxMTE="',
    'ASID': '6f5bbfa400000184fa368e5f00000067',
    'SHP_BUCKET_ID': '4',
    'NV_WETR_LAST_ACCESS_RGN_M': '"MDUxMTAxMTE="',
    'NID_AUT': 'xDAIttoc1Atdn7rAs4Y+rogecRjh3p1xevXbJnm0Nr0CEioRQ5/hhmRFwExAG7+T',
    'NID_JKL': 'b+0nlz0gwdbCoxClpc3utji+0en89OQHe0BEDbaUv/Y=',
    'nx_ssl': '2',
    'Viking_Rise_visit_time': '1695077035991',
    'page_uid': 'ifYbMdprvTVsse385PlssssssE0-160453',
    'spage_uid': 'ifYbMdprvTVsse385PlssssssE0-160453',
    'NID_SES': 'AAABxneIb+UGNfkjN7HA2gA5OlFQfYJVR367v6fonQYo1gBA+STpwnmSQKvPHCtKl9cSOobgAMZTANOk4CCrBDXAZ+8+xr6VQ9Ezi+8ApV32H/Cwi7PkDkvMuZ3QqwE0RmlD2gBOkdM8F5e33pm7MmNSfpFFusRSCaFir0+c2j3yksaJFDdG9PWn6RxWHTn0JXWu880PKz+pLfdysAibvruAtoxZbtdsvNi3dzUkiI74c14ilruNwmeJ+WmNLRwD79YtsmBgjQd8yEFd2P1MbddwtdfBqqrvIg9mgVAbGhHj86VEjcOAN0a8W84w7vJnGqR5AvPZp6ANSE7LBBYR6BN4RjlHsqne/i39lWovcl8zlv3X//TRlaZFjsdpIdPtHtEPum7wMp0eB+7nLpwAd3Wqz3Ku7eVW9ZH+cwnQwPuLEr3cfZT1scFz3Evmwa4DZWtNXVbACznRMQbUJMYBaN6+kt/PjN932m5O5S1ked50/18fduz9Ga5UzgUJwG86kA2Yj6uX0EJtos8uyYEuUpkHRgKtLkWwSDzI/Qq1281rtR5EslmrYPIicx0eGzIfCGV22q72LUyRwqROGp75LdZlMcC6mJd95X42HzhYacCFvSyx',
    'sus_val': 'oosk3W1yUa/jXC7KKHHcV8KC',
    'ncpa': '5114254|lnq2oiag|6088f8339ff87318d5466310aa33bd3df5f4ee8e|s_21a15037d5896|4a037b7e1ad4f4b2b46b7552bf557d83d6e09c69:4801924|lnq2r5yw|252c45b5b1c89d88d92fb4fd42bf99065652c3d4|s_1aec08c8356c9|4a0769694c3e60ffa7b878ff1e700b5ee7a31a93:95694|lnq2t46o|8f47110d725d91bc72e3083c0376c78965d77ffe|95694|28deee716df4986a1bc2f535eccb8e15165491ff:114|lnrg1u34|6c1e428c1fdcf6109a6e368afd36c2c6547842b5|s_1f0b6dd34481|0d9a8a153a4fd6f9e60247ee72a897423e0d11c7',
}

headers = {
    'authority': 'search.shopping.naver.com',
    'accept': 'application/json, text/plain, */*',
    'accept-language': 'ko-KR,ko;q=0.9,en-US;q=0.8,en;q=0.7',
    # 'cookie': 'NNB=6TTK2RJU3JPWG; autocomplete=use; AD_SHP_BID=23; _ga=GA1.2.1198469368.1669035888; NV_WETR_LOCATION_RGN_M="MDUxMTAxMTE="; ASID=6f5bbfa400000184fa368e5f00000067; SHP_BUCKET_ID=4; NV_WETR_LAST_ACCESS_RGN_M="MDUxMTAxMTE="; NID_AUT=xDAIttoc1Atdn7rAs4Y+rogecRjh3p1xevXbJnm0Nr0CEioRQ5/hhmRFwExAG7+T; NID_JKL=b+0nlz0gwdbCoxClpc3utji+0en89OQHe0BEDbaUv/Y=; nx_ssl=2; Viking_Rise_visit_time=1695077035991; page_uid=ifYbMdprvTVsse385PlssssssE0-160453; spage_uid=ifYbMdprvTVsse385PlssssssE0-160453; NID_SES=AAABxneIb+UGNfkjN7HA2gA5OlFQfYJVR367v6fonQYo1gBA+STpwnmSQKvPHCtKl9cSOobgAMZTANOk4CCrBDXAZ+8+xr6VQ9Ezi+8ApV32H/Cwi7PkDkvMuZ3QqwE0RmlD2gBOkdM8F5e33pm7MmNSfpFFusRSCaFir0+c2j3yksaJFDdG9PWn6RxWHTn0JXWu880PKz+pLfdysAibvruAtoxZbtdsvNi3dzUkiI74c14ilruNwmeJ+WmNLRwD79YtsmBgjQd8yEFd2P1MbddwtdfBqqrvIg9mgVAbGhHj86VEjcOAN0a8W84w7vJnGqR5AvPZp6ANSE7LBBYR6BN4RjlHsqne/i39lWovcl8zlv3X//TRlaZFjsdpIdPtHtEPum7wMp0eB+7nLpwAd3Wqz3Ku7eVW9ZH+cwnQwPuLEr3cfZT1scFz3Evmwa4DZWtNXVbACznRMQbUJMYBaN6+kt/PjN932m5O5S1ked50/18fduz9Ga5UzgUJwG86kA2Yj6uX0EJtos8uyYEuUpkHRgKtLkWwSDzI/Qq1281rtR5EslmrYPIicx0eGzIfCGV22q72LUyRwqROGp75LdZlMcC6mJd95X42HzhYacCFvSyx; sus_val=oosk3W1yUa/jXC7KKHHcV8KC; ncpa=5114254|lnq2oiag|6088f8339ff87318d5466310aa33bd3df5f4ee8e|s_21a15037d5896|4a037b7e1ad4f4b2b46b7552bf557d83d6e09c69:4801924|lnq2r5yw|252c45b5b1c89d88d92fb4fd42bf99065652c3d4|s_1aec08c8356c9|4a0769694c3e60ffa7b878ff1e700b5ee7a31a93:95694|lnq2t46o|8f47110d725d91bc72e3083c0376c78965d77ffe|95694|28deee716df4986a1bc2f535eccb8e15165491ff:114|lnrg1u34|6c1e428c1fdcf6109a6e368afd36c2c6547842b5|s_1f0b6dd34481|0d9a8a153a4fd6f9e60247ee72a897423e0d11c7',
    'logic': 'PART',
    'referer': 'https://search.shopping.naver.com/search/all?frm=NVSCPRO&origQuery&pagingSize=80&&productSet=total&query=%EC%84%B8%EC%A0%9C&sort=rel&timestamp=&viewType=list',
    'sbth': 'd222b49238bd2b7f29803e2ed2f08d01eedaa3d14d24417197e36287d8d5eae0ca4c01288a05847bfed167eb56487188',
    'sec-ch-ua': '"Chromium";v="118", "Google Chrome";v="118", "Not=A?Brand";v="99"',
    'sec-ch-ua-arch': '"x86"',
    'sec-ch-ua-bitness': '"64"',
    'sec-ch-ua-full-version-list': '"Chromium";v="118.0.5993.70", "Google Chrome";v="118.0.5993.70", "Not=A?Brand";v="99.0.0.0"',
    'sec-ch-ua-mobile': '?0',
    'sec-ch-ua-model': '""',
    'sec-ch-ua-platform': '"Windows"',
    'sec-ch-ua-platform-version': '"15.0.0"',
    'sec-ch-ua-wow64': '?0',
    'sec-fetch-dest': 'empty',
    'sec-fetch-mode': 'cors',
    'sec-fetch-site': 'same-origin',
    'user-agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/118.0.0.0 Safari/537.36',
}

In [ ]:
# tmp = pd.DataFrame(columns=["relative_keyword", "avg_price"])
# tmp.to_csv("conditionedData/data/4_avg_sale_only_requests.csv",index=False)

In [ ]:
df_avg_sales = pd.read_csv("conditionedData/data/4_avg_sale_only_requests.csv")      

num = 4959

for idx,keyword in enumerate(keywords[num:]):
    
    params = {
    'frm': 'NVSCPRO',
    'pagingIndex': '1',
    'pagingSize': '80',
    'productSet': 'total',
    'query': f"{keyword}",
    'sort': 'rel',
    'viewType': 'list',
    }

    response = requests.get('https://search.shopping.naver.com/api/search/all', params=params, cookies=cookies, headers=headers)
    itemlist = json.loads(response.text)

    sales_lst = []
    cnt = 0
    
    try :
        
        for idx,product in enumerate(itemlist['shoppingResult']['products']):
            purchaseCnt = product['purchaseCnt']
            price = product['price']

            purchaseCnt = purchaseCnt
            price =  int(price)

            sales = purchaseCnt * price

            if sales > 0 : 
                sales_lst.append(sales)

        try:
            avg_sales = int(np.mean(sales_lst)/6)  # 6개월 기준으로 뽑혀서 나눔
        except :
            avg_sales = None
            
    except : 
        avg_sales = None

    tmp = pd.DataFrame({"relative_keyword":keyword,"avg_sale":[avg_sales]})    
    df_avg_sales = pd.concat([df_avg_sales,tmp],axis=0)
    print(f"{num}.{keyword}: {avg_sales} ")
    
#     time.sleep(np.random.rand()*2)
    
    num += 1
    df_avg_sales.to_csv("conditionedData/data/4_avg_sale_only_requests.csv",index=False)

In [5]:
pd.options.display.max_rows = 100
avg_sale = pd.read_csv("conditionedData/data/4_avg_sale/4_avg_sale_only_requests.csv")
avg_sale

      relative_keyword   avg_sale
0                앱코키보드   548445.0
1               키즈경량패딩  1002830.0
2             후쿠오카버스투어  7110358.0
3                 식전영상  1019754.0
4              꾸셀파운데이션        NaN
...                ...        ...
19919           EMIS가방   645968.0
19920           나이키에코백   116761.0
19921           아페쎄에코백   731364.0
19922           이미스호보백   786907.0
19923            명품에코백   434007.0

[19924 rows x 2 columns]

<font color="Maroon" size="5"><b>avg_sale 합치고 결측치 제거</b></font>

In [6]:
data = pd.merge(data,avg_sale, on = "relative_keyword")
data

,relative_keyword,total_search,total_store_count,competitive_rate,avg_price,avg_sale
0,앱코키보드,14530.0,40613.0,2.80,73669.0,548445.0
1,키즈경량패딩,28730.0,76995.0,2.68,76983.0,1002830.0
2,후쿠오카버스투어,22720.0,546.0,0.02,58505.0,7110358.0
3,식전영상,27600.0,432.0,0.02,33231.0,1019754.0
4,꾸셀파운데이션,2310.0,9.0,0.00,19756.0,NaN
...,...,...,...,...,...,...
19919,EMIS가방,12380.0,7205.0,0.58,43951.0,645968.0
19920,나이키에코백,6410.0,1839.0,0.29,11203.0,116761.0
19921,아페쎄에코백,9960.0,12389.0,1.24,86765.0,731364.0
19922,이미스호보백,11450.0,1839.0,0.16,43885.0,786907.0
19923,명품에코백,5400.0,48183.0,8.92,40870.0,434007.0

In [ ]:
new_data = data.dropna()
dropped_data = data[~data.index.isin(new_data.index)]

In [ ]:
pd.options.display.max_rows = None  
new_data

In [ ]:
"""키워드에 대한 정보들이 대부분 너무 없음"""
dropped_data

In [ ]:
"""new_data를 정리 후 4_avg_sale_requests 파일로 저장"""
new_data.index =  np.arange(len(new_data["total_search"]))
new_data.to_csv("conditionedData/data/4_avg_sale/4_avg_sale_requests.csv",index=False)

In [ ]:
pd.read_csv("conditionedData/data/4_avg_sale/4_avg_sale_requests.csv")

<font color="Maroon" size="5"><b>TEST CELL</b></font>

In [ ]:
params = {
    'frm': 'NVSCPRO',
    'pagingIndex': '1',
    'pagingSize': '80',
    'productSet': 'total',
    'query': "샘트라이크100",
    'sort': 'rel',
    'viewType': 'list',
    }
response = requests.get('https://search.shopping.naver.com/api/search/all', params=params, cookies=cookies, headers=headers)
itemlist = json.loads(response.text)
itemlist

In [ ]:
keyword

In [ ]:
params = {
    'frm': 'NVSCPRO',
    'pagingIndex': '1',
    'pagingSize': '80',
    'productSet': 'total',
    'query': f"{keyword}",
    'sort': 'rel',
    'viewType': 'list',
    }
response = requests.get('https://search.shopping.naver.com/api/search/all', params=params, cookies=cookies, headers=headers)
itemlist = json.loads(response.text)
itemlist